rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /reports/{reportId}/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn()
        && firestore.get(/databases/(default)/documents/reports/$(reportId)).data.UserId
          == request.auth.uid
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /users/{userId}/profile.jpg {
      allow read: if signedIn();
      allow write: if signedIn()
        && request.auth.uid == userId
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
